

.chats-container{
    position: fixed;
    background-color: rgb(255, 255, 255);
    bottom: 2px;
    width: 290px;
    height: 400px;
    right: 35px;
    flex-flow: column;
    gap: 20px;
    box-shadow: 0 0 15px rgb(178, 178, 178);
    z-index: 3;
}

.msg-head{
    gap: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgb(216, 216, 216);
}

.msg-head-name{
    flex: 1;
    font-weight: bolder;
}

.msg-container{
    flex: 1;
    padding: 0 30px 20px;
    flex-flow: column;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-start;
    overflow-y: scroll;
    font-weight: bold;
}

.sent-msg{
    align-self: flex-end;
    background-color: var(--background);
}

.rec-msg{
    background-color: var(--theme);
    color: white;

}

.msg-container > p{
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    overflow-wrap: break-word;
}


.msg-form {
    height: 40px;
}

.msg-form > *{
    height: 100%;
}

.msg-form > input[type="submit"]{
    width: 60px;
}

.msg-form > textarea{
    padding: 0 10px;
    padding-top: 10px;
    margin: 0;
    flex: 1;

}

.msg-head-dp{
    width: 25px;
    height: 25px;
    border: 1px solid black;
}


@media only screen and (max-width: 900px){
    .chats-container{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;     
    }
}