@use "../../scss/constants" as *;

.friends {
  @include fontstyle;

  > * {
    max-width: 990px;
    margin: 30px auto 50px;
  }
}

.filter-friend {
  height: 80px;
  background-color: $white;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-radius: 10px;
  margin-top: 0;
}

.filter-friend > h2 {
  flex: 1;
  color: black;
  font-size: 1.2rem;
}

.filter-friend form {
  display: flex;
}

.filter-friend input {
  border: none;
  background-color: $light-grey;
  padding: 6px 12px;
  border-right: 1px $grey solid;
}

.filter-friend button {
  @include center;
  border: none;
  background-color: $light-grey;
  padding: 6px 12px;
  color: $grey;
}

.friend-req-head .image {
  height: 208px;
  cursor: pointer;
}

.friend-req-head,
.friend-sugg-head {
  padding: 0 24px;
  color: black;

  h2 {
    flex: 1;
    font-size: 1.2rem;
    height: 45px;
  }
}

.grid {
  .accept-btn {
    background-color: $theme;
    cursor: pointer;
  }

  .send-req-btn {
    background-color: #10d876;
    cursor: pointer;
  }

  .reject-btn {
    background-color: red;
    cursor: pointer;
  }
}
