@use "./constants.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scrollbar-width: thin;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  cursor: default;
}

body {
  background-color: $light-grey;
}

a {
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

.propogator {
  @include center;
  width: 100vw;
  height: 100dvh;
}

main {
  margin-left: 280px;
  margin-right: 0;
  margin-top: calc(96px + 8px);
  min-width: 700px;
  overflow-y: auto;
  scrollbar-width: none;
  height: calc(100dvh - 96px - 12px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
  > * {
    margin: auto;
    width: 100%;
  }
  .loading-skeleton {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    background-color: lightgrey;
  }

  .loading-skeleton.round {
    border-radius: 50%;
    width: 110px;
    margin: auto;
    margin-bottom: 25px;
    height: 110px;
  }

  .card {
    $margin-side: 3px;
    background-color: $white;
    border-radius: 10px;
    width: 100%;
    padding: 20px;

    .image-container {
      border-radius: 50%;
      width: 50%;
      aspect-ratio: 1 / 1;
      margin: auto;
      margin-bottom: 10px;
      cursor: pointer;
      overflow: hidden;
    }
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    .image-container.loading {
      background-color: lightgrey;
    }

    .details {
      color: black;
      width: 100%;
      font-size: 1rem;
      border-radius: 4px;
      text-align: center;

      > div {
        @include button;
        height: auto;
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
      }
      h3 {
        margin-bottom: 15px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  main {
    margin: 104px 0 0 0;
    min-width: auto;
  }
}
