@mixin aside-icons {
  @include icons;
  margin-right: 16px;
  color: white;
  @include center;
}

@mixin aside-font {
  font-size: $font-mid;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: $grey;
}

@mixin aside {
  height: 100dvh;
  padding-top: 96px;
  width: 280px;
  position: fixed;
  top: 0;
}

@mixin asidesection {
  padding: 12px 15px;
  margin: 8px 15px;
  background-color: $white;
  border-radius: 15px;
}

.left-aside {
  @include aside;
  left: 0;
  overflow: auto;
  scrollbar-width: none;

  > section {
    @include asidesection;

    > * {
      display: flex;
      align-items: center;
      margin: 8px 15px;
    }
  }
}

.aside-sec-header {
  @include aside-font;
  padding-left: 10px;
  font-size: $font-sm;
}

.left-aside span {
  display: inline-block;
  @include aside-font;
}

.aside-main-sec * {
  cursor: pointer;
}

.aside-main-sec .profile, .aside-m .profile {
  @include aside-icons;
  @include background;
  color: $theme;
}

.aside-main-sec .home,
.aside-m .home {
  @include aside-icons;
  background: linear-gradient(to right, #0575e6, #021b79);
}

.aside-main-sec .users,
.aside-m .users {
  @include aside-icons;
  background: linear-gradient(to right, #e44d26, #f16529);
}

.aside-main-sec .store,
.aside-m .store {
  @include aside-icons;
  background: linear-gradient(to right, #f2994a, #f2c94c);
}

.aside-main-sec .groups,
.aside-m .groups {
  @include aside-icons;
  background: linear-gradient(135deg, #05f, #09f);
}

.aside-author-sec .linkedin,
.aside-m .linkedin {
  @include aside-icons;
  color: $theme;
}

.aside-author-sec .github,
.aside-m .github {
  @include aside-icons;
  color: black;
}

.aside-author-sec a {
  color: inherit;
}

aside-author-sec span {
  cursor: pointer;
}

.aside-extra-sec .logout,
.aside-m .logout {
  @include aside-icons;
  color: red;
}

.aside-extra-sec .setting,
.aside-m .settings {
  @include icons;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $theme;
}

.aside-extra-sec * {
  cursor: pointer;
}

/* aside right */

.right-aside {
  @include aside;
  @include fontstyle;
  width: 260px;
  right: 2px;

  > div {
    @include asidesection;
    height: 97%;

    > section {
      height: 48%;
      margin-bottom: 24px;

      > h4 {
        margin-bottom: 12px;
      }

      > div {
        height: calc(100% - 30px);
        overflow: auto;
        scrollbar-width: none;

        > div {
          gap: 8px;
          padding: 8px 0;
        }
        * {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }
}

.online-logo {
  background-color: #17a750;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.logo {
  @include icons;
  width: 35px;
  height: 35px;
  @include background;
}

.name {
  flex: 1;
  color: black;
}

.aside-m {
  @include aside-font;
  height: calc(100dvh - 62px);
  background-color: $light-grey;
  width: 100vw;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1;
  margin-top: 0px;
  padding-top: 104px;
  transition: right 0.6s ease-in-out;
  overflow: auto;
  display: none;


  > * {
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 20px;

    > * {
      width: clamp(10%, 50%, calc(100% / 2 - 20px));
      padding: 15px 30px;
      background-color: white;
      > * {
        display: flex;
        align-items: center;
      }
    }
  }

  .reels {
    @include aside-icons;
    background: linear-gradient(to right, #ff0099, #493240);
  }

  .notification {
    @include aside-icons;
    color: $theme;
  }

  .chats {
    @include aside-icons;
    color: #12d877;
  }
}

.aside-m.active {
  right: 0;
}

@media only screen and (max-width: 1000px) {
  .left-aside {
    position: fixed;
    left: -300px;
    z-index: 1;
    box-shadow: 0px 0px 20px 3px rgb(224, 224, 224);
    background-color: $white;
    transition: left 0.5s ease-in-out;
  }

  .left-aside.active {
    left: 0;
  }
}

@media only screen and (max-width: 700px) {
  .left-aside {
    display: none;
  }
  .aside-m {
    display: block;
  }
}


@media only screen and (max-width: 400px){
  .aside-m{
    >div>*{
    span:first-child{
      margin-right: 8px;
     
    }
    padding: 12px 16px;
    }
  }
}